<div class="container">
	<h1><span style="font-family:Helvetica Neue; color: blue; font-size:12px:">Todo</h1>
	<p>A simple application to manage your to do tasks.</p>
	<%= link_to "Learn More", "#", class: "btn btn-primary btn-lg" %>
</div>
